dlib==19.24.6
mtcnn==0.1.1
numpy==2.0.2
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
Pillow==11.0.0
scikit-learn==1.6.1
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
